<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yugy.v2ex.daily" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:name=".Application"
        android:theme="@style/AppTheme" >

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="530cc7d456240bfac5056280" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="@string/umeng_tag" />

        <service
            android:name="com.umeng.common.net.DownloadingService"
            android:process=":DownloadingService" >
        </service>
        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar" >
        </activity>

        <provider
            android:authorities="com.yugy.v2ex.daily"
            android:name=".dao.DataProvider"
            android:exported="false" >
            <grant-uri-permission android:pathPattern=".*"/>
        </provider>

        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.TopicActivity"
                  android:theme="@style/AppTheme.SwipeBack"
                  android:icon="@drawable/ic_logo"
                  android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>
        <activity android:name=".activity.NodeActivity"
                  android:theme="@style/AppTheme.SwipeBack"
                  android:icon="@drawable/ic_logo"
                  android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>
        <activity android:name=".activity.LoginActivity"
                  android:theme="@style/AppTheme.SwipeBack"
                  android:icon="@drawable/ic_logo"
                  android:label="@string/title_login"
                  android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>
        <activity android:name=".activity.UserActivity"
                  android:label=""
                  android:theme="@style/AppTheme.OverlayActionBar"
                  android:parentActivityName=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:host="member"
                      android:scheme="v2ex"/>
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.PhotoViewActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Holo.NoActionBar"
            />
    </application>

</manifest>
